<div class="modal-container earning-calculator">
  <div class="header">
    <h4 class="title">Calculate your earning as an Ora host</h4>
  </div>
  <div class="calculator-form">
    <h5>Find out what you could earn</h5>
    <form action="">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" name="" class="form-control" placeholder="Your location">
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <input type="text" name="" class="form-control" placeholder="Entire place">
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <select name="" class="form-control">
              <option value="">3 guest</option>
              <option value="">3 guest</option>
              <option value="">4 guest</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-md-6">
          <h6>₹49,658</h6>
          <span>per month <i class="fa fa-question-circle-o" aria-hidden="true"></i></span>
        </div>
        <div class="col-md-6 text-right">
          <button class="btn btn-primary">Start hosting</button>
        </div>
      </div>
    </form>
  </div>
</div>
