<div class="position-relative" style="margin-top:76px">
  <!-- Home Top Carousel -->
  <div class="home-carousel" data-aos="zoom-in-down">
    <ngb-carousel showNavigationArrows="false">
      <ng-template ngbSlide>
        <img src="assets/images/home-slider/banner.jpg" class="mh-100" style="width: 100%; max-height: 400px">
        <div class="carousel-caption">
          <h3>Ametyst. I feel <br> comfortable here ..</h3>
          <p>Come In As Guests. Leave As Family</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/home-slider/banner.jpg" class="mh-100" style="width: 100%; max-height: 400px">
        <div class="carousel-caption">
          <h3>Ametyst. I feel <br> comfortable here ..</h3>
          <p>Come In As Guests. Leave As Family</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/home-slider/banner.jpg" class="mh-100" style="width: 100%; max-height: 400px">
        <div class="carousel-caption">
          <h3>Ametyst. I feel <br> comfortable here ..</h3>
          <p>Come In As Guests. Leave As Family</p>
        </div>
      </ng-template>
    </ngb-carousel>
    
    <div class="booking-section">
      <div class="container" data-aos="fade-right">
        <div class="row">
          <div class="col-md-5">
          <app-search-form [propertyTypes]="propertyTypes"></app-search-form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Features Section -->
  <div class="container-fluid features-section">
    <div class="container">
      <div class="row">
        <div class="col-md-2 border-right text-center" data-aos="flip-down">
          <div><img src="assets/images/ora-features.png" /></div>
          <div class="mt-18"><span class="info-text">Features in all ORAs</span></div>
        </div>
        <div class="col-md-2 border-right text-center" data-aos="flip-up">
            <div><img src="assets/images/features_ID.png" /></div>
            <div><span class="info-text">Verified ID</span><span class="text-dark exclamation-circle"><i class="fa fa-exclamation-circle"></i></span></div>
        </div>
        <div class="col-md-3 border-right text-center" data-aos="flip-down">
            <div><img src="assets/images/features_premium.png" /></div>
            <div><span class="info-text">Express and Premium listings</span><span class="text-dark exclamation-circle"><i class="fa fa-exclamation-circle"></i></span></div>
        </div>
        <div class="col-md-2 border-right text-center" data-aos="flip-up">
            <div><img src="assets/images/features_hostmonitors.png" /></div>
            <div><span class="info-text">Host Monitors</span><span class="text-dark exclamation-circle"><i class="fa fa-exclamation-circle"></i></span></div>
        </div>
        <div class="col-md-3 text-center" data-aos="flip-down">
            <div><img src="assets/images/features_customerservice.png" /></div>
            <div><span class="info-text">Customer Support (10 am to 6 pm)</span><span class="text-dark exclamation-circle"><i class="fa fa-exclamation-circle"></i></span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Property Tab Listing  -->
  <div *ngIf="propertyTypes && propertyTypes.length > 0" class="container-fluid property-listing-section">
    <div class="container" data-aos="flip-left">
      <div class="property-tab-block">
        <ngb-tabset [justify]="currentJustify">
          <ngb-tab *ngFor="let propertyType of propertyTypes">
            <ng-template ngbTabTitle>
              <div (click)="getPropertyList(propertyType)">{{propertyType.name}}</div>
            </ng-template> 
            <ng-template ngbTabContent>
              <div class="row" *ngIf="propertyList[propertyType.propertyTypeId] && propertyList[propertyType.propertyTypeId].length > 0">
                <div class="col-md-3" *ngFor="let property of propertyList[propertyType.propertyTypeId]">
                  <div class="card mb-0 border-0" (click)="showMoreProperty(property,propertyType.propertyTypeId)">
                    <div class="property-img">
                        <div class="room-tag {{property.roomStandard == 'PREMIUM' ? 'green' : 'orange'}}" *ngIf="property.roomStandard!='NORMAL'">{{property.roomStandard}}</div>
                        <img class="card-img-top rounded" [src]="property.coverImageURL!= null ? property.coverImageURL : 'assets/images/property/property-1.png'" src="assets/images/property/property-1.png" alt="Card image cap">
                        <i class="fa fa-bookmark-o pro-icon bookmark" aria-hidden="true"></i>
                        <i class="fa fa-share-alt pro-icon share" aria-hidden="true"></i>
                    </div>
                    <div class="card-body pl-0 pr-0 pb-0">
                      <h5 class="card-title" placement="top" ngbTooltip="{{property.address}}">{{property.oraName}}, {{property.address}}</h5>
                      <p class="card-text price mb-1">₹ {{property.totalPrice | number:'.2'}} Per night</p>
                      <p class="card-text"><span class="badge badge-secondary bg-orange">{{property.rating}}</span><span class="cat-type"> {{sharedSrv.getRatingText(property.rating)}},</span><span class="review"> {{property.reviewCount}} reviews</span></p>
                      <hr class="hr1">
                      <div class="alert alert-secondary alert-green" role="alert">
                        <h6 class="title mb-0">In high demand!</h6>
                        <span class="info-text">Booked 21 times in the last 24 hours</span>
                      </div>
                      <p class="complimentary">Complimentary &nbsp;&nbsp;
                        <span *ngIf="property.mealFlag" class="complimentary-tea"></span>

                        <span *ngFor="let amenitie of property.amenities">
                            <img class="card-img-top rounded" [src]="amenitie.imgUrl1" [alt]="amenitie.aminitiesName">
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="propertyList[propertyType.propertyTypeId] && propertyList[propertyType.propertyTypeId].length > 0">
                  <hr class="hr-1 mt-30 mb-30 no-mobile-d">
                  <div class="row p-10-30">
                    <div class="col-md-8 filter-section">
                      <div class="alert alert-secondary" role="alert">
                          Unique local homes offering accommodations with a feeling called “family”. 
                      </div>
                    </div>
                    <div class="col-md-4 text-right">
                        <!-- <button class="btn btn-dark mr-2 quick-filter-btn" (click)="openFilterModal(quickFilterModal)"><label>Quick Filter </label> <i class="fa fa-filter" aria-hidden="true"></i></button> -->
                        <button class="btn btn-primary view-more-btn" (click)="showMoreProperty(propertyList[propertyType.propertyTypeId][0],propertyType.propertyTypeId)">View More [+]</button>
                      </div>
                  </div>
              </div>
         
            
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      
      </div>
    </div>
  </div>

  <!-- List Your Property Section -->
  <div class="container property-desc-section">
    <div class="" data-aos="fade-right">
      <h4 class="title">List your property with us.</h4>
      <h6 class="desc">Fusce tempor a risus id euismod. Phaselus ullamc...</h6>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget pharetra nisi, auctor congue ex.
      </p>
      <button class="btn btn-dark mr-2" (click)="openModal(earningCalculator)">Earning Calculator <img class="icon-calculator" src="assets/images/icon-calculator.png"></button>
      <button class="btn btn-primary" routerLink="/host">View More [+]</button>
    </div>
  </div>

  <!-- Deals for you -->
  <app-offer></app-offer>

  <!-- About & Testimonials -->
  <div class="container about-testimonial-section">
    <div class="row">
      <div class="col-md-6">
        <div *ngIf="testimonialList && testimonialList.length > 0" class="card" data-aos="fade-right">
          <div class="card-body">
            <h4 class="title">What our customer says</h4>
            <div *ngFor="let testimonial of testimonialList" class="testimonial-item">
              <div class="thumb-img">
                <img width="70px" height="70px" [src]="testimonial?.user?.userVsInfo?.imageUrl" alt="{{testimonial?.user?.userVsInfo?.name}}">
              </div>
              <div class="thumb-details">
                  <span class="desc">{{testimonial?.description}}</span>
                  <span class="name"><b>{{testimonial?.user?.userVsInfo?.name}}</b></span> <span class="datetime">  {{testimonial?.createdDate | date:'mediumDate'}}</span>
              </div>
            </div>
            <button class="btn btn-primary view-more-btn" routerLink="/testimonial">View More [+]</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" data-aos="fade-left">
          <div class="card-body about-box">
            <h4 class="title">About</h4>
            <h5 class="about-text mt-3">We believe that every traveller is unique. Hence we aim to provide 
                unique accommodations to the users as per the requirements, preference and choice.</h5>
            <p class="text">We are building the largest online marketplace of accommodation to help users find standardised accommodations through one touch technology, as per their requirements including short and long stays.</p>
            <p class="text mb-30">Nam ornare lorem feugiat ligula aliquet lobortis ...</p>
            <button class="btn btn-primary view-more-btn"  routerLink="/about">View More [+]</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Earning Calculator -->
<ng-template #earningCalculator let-modal>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <app-earning-calculator></app-earning-calculator>
</ng-template>

<!-- Quick Filter -->
<!-- <ng-template #quickFilterModal let-modal>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="card-header">Quick filter</div>
  <app-quick-filter></app-quick-filter>
</ng-template> -->