<form class="booking-form"  [formGroup]="staySearchForm" (ngSubmit)="onSubmitSearch()" novalidate>
    <div class="form-group">
      <select class="form-control" placeholder="Pick a stay" formControlName="propertyTypeId" [ngClass]="{ 'is-invalid': staySearchForm.controls['propertyTypeId'].touched && staySearchForm.controls['propertyTypeId'].errors }">
          <option value="" selected>Pick a stay</option>
          <option *ngFor="let propertyType of propertyTypes" [ngValue]="propertyType.propertyTypeId">{{ propertyType.name }}</option>
        </select>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="location" placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off"  #search  placeholder="City, Locality or Landmark" [ngClass]="{ 'is-invalid': staySearchForm.controls['location'].touched && staySearchForm.controls['location'].errors }">
    </div>
    <div class="form-group">
      <div class="input-group">
        <input type="text"  class="form-control border-right-0" formControlName="checkInDate"  placeholder="Check in" ngbDatepicker #d1="ngbDatepicker" [minDate]="checkInMinDate" (dateSelect)="onCheckInDateSelect($event)" (click)="d1.toggle()" [ngClass]="{ 'is-invalid': staySearchForm.controls['checkInDate'].touched && staySearchForm.controls['checkInDate'].errors }">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar checkin-pick"  type="button" (click)="d1.toggle()"><i class="fa fa-calendar"></i></button>
        </div>
        <input type="text" class="form-control border-right-0" formControlName="checkOutDate" placeholder="Check out" ngbDatepicker #d2="ngbDatepicker" [minDate]="checkOutMinDate" (click)="d2.toggle()" [ngClass]="{ 'is-invalid': staySearchForm.controls['checkOutDate'].touched && staySearchForm.controls['checkOutDate'].errors }">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar checkout-pick" type="button" (click)="d2.toggle()"><i class="fa fa-calendar"></i></button>
        </div>
        
        <ng-template #tHotel let-date let-focused="focused">
            <span class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRangeHotel(date)"
                  [class.faded]="isHoveredHotel(date) || isInsideHotel(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
      </div>
    </div>
    <div class="form-group">
      <div ngbDropdown class="d-inline-block hotelBookDropdown" [autoClose]="false">
        <button type="button" class="btn" ngbDropdownToggle>{{numberOfGuest}} Guest, {{numberOfRooms}} Room</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
          <div formArrayName="rooms" *ngFor="let room of staySearchForm.controls['rooms'].controls; let i = index">
            <div>
              <h5>Room {{i + 1}}</h5>
            </div>
            <div class="form-row align-items-end" [formGroupName]="i">
              <div class="col-auto">
                <div class="form-group m-0">
                  <label for="" class="d-block text">Adults <span> (+12 yrs)</span></label>
                  <input type="hidden" formControlName="noOfGuest">
                  <ng-number-picker class="ng-number-picker" [(value)]="noOfGuest[i]" [min] ="1"  [max]="'6'" (valueChange)="onNumberChanged($event,i,'noOfGuest')"></ng-number-picker>
                </div>
              </div>
              <div class="col-auto ml-4">
                <div class="form-group m-0">
                  <label for="" class="d-block text">Children <span> (1 to 12 yrs)</span></label>
                  <input type="hidden" formControlName="noOfChild">
                  <ng-number-picker class="ng-number-picker" [(value)]="noOfChild[i]" [min] ="0" [max]="'4'" (valueChange)="onNumberChanged($event,i,'noOfChild')"></ng-number-picker>
                </div>
              </div>
              <div class="col-auto ml-4" *ngIf="i!=0">
                <button type="button" class="btn btn-outline-dark btn-sm" (click)="removeRoom(i)">[-] Remove ROOM</button>
              </div>
            </div>
          </div>
          <div class="col-auto ml-4">
            <button type="button" class="btn btn-outline-dark btn-sm" (click)="addRoom()">[+] ADD ROOM</button>
          </div>
 
        </div>
      </div>
    </div>
    <div class="form-group text-right mt-4 mb-0 clearfix">
      <button type="submit" class="btn btn-primary btn-lg search-btn"><i class="search-icon"></i>Search</button>
    </div>
  </form>