<form class="booking-form"  [formGroup]="staySearchForm" (ngSubmit)="onSubmitLogin()" novalidate>
    <div class="form-group">
      <select class="form-control" placeholder="Pick a stay" formControlName="propertyTypeId" [ngClass]="{ 'is-invalid': staySearchForm.controls['propertyTypeId'].touched && staySearchForm.controls['propertyTypeId'].errors }">
          <option value="" selected>Pick a stay</option>
          <option *ngFor="let propertyType of propertyTypes" [ngValue]="propertyType.propertyTypeId">{{ propertyType.name }}</option>
        </select>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="City, Locality or Landmark">
    </div>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control border-right-0" placeholder="Check in"
                name="dpChIn" [(ngModel)]="h_fromDate" ngbDatepicker (click)="dpHotel.toggle()">
        <input class="form-control dtpickerHide" placeholder="Depart"
            name="dp" ngbDatepicker #dpHotel="ngbDatepicker" 
            ngModel (ngModelChange)="onDateSelectionHotel($event)" 
            [displayMonths]="1" [dayTemplate]="tHotel" outsideDays="hidden" 
            [navigation]="'false'" [autoClose]="'outside'" [placement]="'bottom-left'" type="text">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar checkin-pick" (click)="dpHotel.toggle()" type="button"><i class="fa fa-calendar"></i></button>
        </div>
        <input class="form-control border-right-0" placeholder="Check out"
                name="dpChOut" [(ngModel)]="h_toDate" ngbDatepicker (click)="dpHotel.toggle()">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar checkout-pick" (click)="dpHotel.toggle()" type="button"><i class="fa fa-calendar"></i></button>
        </div>
        
        <ng-template #tHotel let-date let-focused="focused">
            <span class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRangeHotel(date)"
                  [class.faded]="isHoveredHotel(date) || isInsideHotel(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
      </div>
    </div>
    <div class="form-group">
      <div ngbDropdown class="d-inline-block hotelBookDropdown">
        <button class="btn" id="dropdownBasic2" ngbDropdownToggle>{{hNoOfAdult + hNoOfChild}} Guest, {{noOfRooms}} Room</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
          <div>
            <h5>Room 1</h5>
          </div>
          <div class="form-row align-items-end">
            <div class="col-auto">
              <div class="form-group m-0">
                <label for="" class="d-block text">Adults <span> (+12 yrs)</span></label>
                <ng-number-picker class="ng-number-picker"  [(value)]="hNoOfAdult" [max]="'6'"></ng-number-picker>
              </div>
            </div>
            <div class="col-auto ml-4">
              <div class="form-group m-0">
                <label for="" class="d-block text">Children <span> (1 to 12 yrs)</span></label>
                <ng-number-picker class="ng-number-picker" [(value)]="hNoOfChild" [max]="'4'"></ng-number-picker>
              </div>
            </div>
            <div class="col-auto ml-4">
              <button type="button" class="btn btn-outline-dark btn-sm">[+] ADD ROOM</button>
              <!-- <div class="form-group m-0">
                <label for="" class="d-block text">Room <span> </span></label>
                <ng-number-picker class="ng-number-picker" [(value)]="noOfRooms"></ng-number-picker>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group text-right mt-4 mb-0 clearfix">
      <button type="button" class="btn btn-primary btn-lg search-btn" routerLink="/property-list"><i class="search-icon"></i>Search</button>
    </div>
  </form>