<div class="host-listing-section">
    <!-- Header Image -->
    <div class="container-fluid host-listing-head p-0 mt-76">
      <img class="w-100" src="assets/images/host-listing-slider-img.png" />
      <div class="container-fluid header-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2 class="title">List your property with us..</h2>
              <p class="info">Register can take as little as 15 minutes to complete - <span> Get Started Now </span> !! <img class="arrow" src="assets/images/host-arrow.png" alt=""> </p>
              <button class="btn btn-primary btn-md mt-2 pb-10">Calculate your earning <img class="icon-calculator" src="assets/images/icon-calculator.png" alt=""> </button>
            </div>
            <div class="col-md-6">
              <div class="listing-form">
                <h4 class="title">What type of property you are listing ?</h4>
                <div class="d-flex text-center mt-30">
                  <div class="property-type active">
                    <div class="items">
                      <img src="assets/images/homestay-icon.png" alt="">
                      <span class="item-checked"></span>
                    </div>
                    <p class="name">Homestay</p>
                  </div>
                  <div class="property-type">
                    <div class="items">
                      <img src="assets/images/guesthouse-icon.png" alt="">
                    </div>
                    <p class="name">Guest house</p>
                  </div>
                  <div class="property-type">
                    <div class="items">
                      <img src="assets/images/hotel-icon.png" alt="">
                    </div>
                    <p class="name">Hotel</p>
                  </div>
                  <div class="property-type">
                    <div class="items">
                      <img src="assets/images/payingguest-icon.png" alt="">
                    </div>
                    <p class="name">Paying guest</p>
                  </div>
                  <div class="right-arrow"><img src="assets/images/right-arrow.png" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-icon"><a class="c-pointer" (click)="scroll(target)"><img src="assets/images/scroller.png" alt=""></a></div>
    </div>
  
    <!-- Content -->
    <div class="container mt-70">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/images/host-1.png" alt="">
        </div>
        <div class="col-md-9 pl-50">
          <h3>Why host on <span class="ora-orange-logo"></span></h3>
          <ul>
            <li>The standard Lorem Ipsum passage, used since the 1500s</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </li>
            <li>nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </li>
            <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat Excepteur sint </li>
            <li>occaecat cupidatat non proident, sunt in culpa qui officia deserunt Section 1.10.32 of "de </li>
            <li #target>Finibus Sed ut perspiciatis unde omnis iste natus error sit </li>
          </ul>
        </div>
      </div>
      <div class="row mt-70">
        <div class="col-md-7">
          <h3 class="m-0">What other hosts are saying about  <span class="ora-orange-logo"></span></h3>
          <span class="commas">"</span>
          <p class="comma-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat"</p>
          <p class="small-text">Owner ORA208976  | <span> Saltlake, Kolkata</span></p>
        </div>
        <div class="col-md-5">
          <div class="embed-responsive embed-responsive-16by9 video-container">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" allowfullscreen height="400"></iframe>
          </div>
        </div>
      </div>
  
      <!-- Full width image -->
      <div class="row mt-50">
        <div class="col-md-12">
          <img width="100%" class="rounded" src="assets/images/host-2.png" alt="">
        </div>
      </div>
      
      <!-- According Section -->
      <div class="row mt-70 mb-70">
        <div class="col-md-12">
          <h3 class="m-0 mb-4 d-flex"><span class="ora-orange-logo mr-2 ml-0"></span> <span class="lh-25"> answered your questions</span>  </h3>
          <div class="accordion">
            <ngb-accordion [closeOthers]="true" #acc="ngbAccordion">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span><i class="arrow"></i> Who can be an ORA host?</span>
                </ng-template>
                <ng-template ngbPanelContent>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </ng-template>
              </ngb-panel>
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span><i class="arrow"></i> What is required of guests before booking?</span>
                </ng-template>
                <ng-template ngbPanelContent>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </ng-template>
              </ngb-panel>
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span><i class="arrow"></i> How much does it cost to list my space?</span>
                </ng-template>
                <ng-template ngbPanelContent>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </ng-template>
              </ngb-panel>
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span><i class="arrow"></i> What protection do I have against property damage?</span>
                </ng-template>
                <ng-template ngbPanelContent>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </ng-template>
              </ngb-panel>
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span><i class="arrow"></i> How should I choose my listing’s price?</span>
                </ng-template>
                <ng-template ngbPanelContent>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </ng-template>
              </ngb-panel>
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span><i class="arrow"></i> How can ORA help me with setting prices?</span>
                </ng-template>
                <ng-template ngbPanelContent>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                  labore sustainable VHS.
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <!-- <div class="container">
                <div id="accordion" class="accordion">
                    <div class="card mb-0">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                            <a class="card-title">
                                Item 1
                            </a>
                        </div>
                        <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </p>
                        </div>
                        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            <a class="card-title">
                              Item 2
                            </a>
                        </div>
                        <div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </p>
                        </div>
                        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            <a class="card-title">
                              Item 3
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion" >
                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>