<div class="team-container mt-76">
  <div class="container-fluid header-image-slide p-0">
    <img class="w-100" src="assets/images/team/team_banner.png" />
  </div>

  <div class="container-fluid position-relative pt-60 pb-60">
      <div class="container behind-screen-section">
        <h3 class="mb-30">Behind the screen</h3>
        <div class="row">
          <div class="col-md-6 pl-0 pr-0">
            <img class="w-100" src="assets/images/team/team_saransh.png" alt="">
          </div>
          <div class="col-md-6 first-block">
            <h5 class="tname">Mr. Saransh Kumar</h5>
            <p class="tdesig">CEO & Founder (Orastays)</p>
            <p class="tdesc">Donec non pellentesque massa. Nullam consectetur purus a fringilla tempus. Donec non sem felis. Quisque sit amet tempor sapien, in ultrices augue. Cras consequat consectetur enim, non lacinia est finibus a. Suspendisse mauris felis, scelerisque vitae massa at, mattis viverra augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean sollicitudin feugiat eros lobortis pretium. Etiam et blandit arcu, sit amet pulvinar tellus. Donec in vulputate ligula, vitae sollicitudin dui. Ut sagittis lacinia nunc vel vulputate ...</p>
            <a href="" class="read-more-btn"> Read on [+]</a>
            <hr class="hr-sm">
          </div>
          <div class="col-md-6 second-block">
            <h5 class="tname">Namita Nayak</h5>
            <p class="tdesig">MD & Co-founder (Orastays)</p>
            <p class="tdesc">Quisque tellus sem, elementum volutpat ante eu, condimentum tempus nisl. Etiam ac ipsum vel diam fringilla imperdiet. Duis sed tempor orci, sit amet fermentum leo. Pellentesque dignissim ante ultrices nisi interdum, eget faucibus tellus molestie. Mauris gravida eu mauris commodo molestie. Aliquam dolor mauris, commodo at tellus in, tincidunt lacinia nisi. Curabitur quis odio maximus, malesuada nibh sodales, rhoncus justo. Curabitur tincidunt eu nunc vel consequat. Sed quis diam a dolor porta dignissim ...</p>
            <a href="" class="read-more-btn"> Read on [+]</a>
            <hr class="hr-sm">
          </div>
          <div class="col-md-6 pl-0 pr-0">
              <img class="w-100" src="assets/images/team/team_namita.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
</div>