/* You can add global styles to this file, and also import other style files */
@import "variables";
@import '~ngx-ui-switch/ui-switch.component.scss';
@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/scss/font-awesome.scss";

@font-face {
    font-family: lato;
    src: url(assets/fonts/Lato-Regular.ttf) format("opentype");
}
@font-face {
    font-family: latoregular;
    src: url(assets/fonts/Lato-Regular.ttf) format("opentype");
}
@font-face {
    font-family: latobold;
    src: url(assets/fonts/Lato-Bold.ttf) format("opentype");
}
@font-face {
    font-family: latolight;
    src: url(assets/fonts/Lato-Light.ttf) format("opentype");
}
@font-face {
    font-family: latobolditalic;
    src: url(assets/fonts/Lato-BoldItalic.ttf) format("opentype");
}
@font-face {
    font-family: latoitalic;
    src: url(assets/fonts/Lato-Italic.ttf) format("opentype");
}
@font-face {
    font-family: latolightitalic;
    src: url(assets/fonts/Lato-LightItalic.ttf) format("opentype");
}
@font-face {
    font-family: latoblack;
    src: url(assets/fonts/Lato-Black.ttf) format("opentype");
}
@font-face {
    font-family: latoblackitalic;
    src: url(assets/fonts/Lato-BlackItalic.ttf) format("opentype");
}
@font-face {
    font-family: bali;
    src: url(assets/fonts/BaliGalang-Regular.ttf) format("opentype");
}
@font-face {
    font-family: abrialfatface;
    src: url(assets/fonts/abrilfatface-regular.ttf) format("opentype");
}

@font-face {
    font-family: latohairline;
    src: url(assets/fonts/Lato-Hairline.ttf) format("opentype");
}

body{
    font-family: 'lato';
    overflow-x: hidden;
}
.container-fluid{
    // overflow: hidden;
}
.fs-12{
    font-size: 12px !important;
}
.fs-14{
    font-size: 14px !important;
}
.mt-10{
    margin-top: 10px !important;
}
.mb-10{
    margin-bottom: 10px !important;
}
.mt-60{
    margin-top: 60px;
}
.mt-76{
    margin-top: 76px;
}

.mt-50{
    margin-top: 50px !important;
}
.mr-50{
    margin-right: 50px;
}
.mt-70{
    margin-top: 70px !important;
}
.mb-60{
    margin-bottom: 60px !important;
}
.mb-70{
    margin-bottom: 70px !important;
}
.mt-30{
    margin-top: 30px !important;
}
.mb-30{
    margin-bottom: 30px !important;
}
.mb-25{
    margin-bottom: 25px !important;
}
.mb-40{
    margin-bottom: 40px !important;
}
.m-r-5{
    margin-right: 5px;
}
.mr-20{
    margin-right: 20px;
}
.mr-30{
    margin-right: 30px;
}
.pl-50{
    padding-left: 50px !important;
}
.pb-10{
    padding-bottom: 10px !important;
}
.p-5{
    padding: 5px !important;
}
.btn-primary {
    color: #fff !important;
    background-color: #f47921 !important;
    border-color: #f47921 !important;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    outline: none !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #f16a0a !important;
    border-color: #f16a0a !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.btn-dark{
    background-color: #130504 !important;
    border-color: #130504 !important;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active{
    background-color: #212529 !important;
    border-color: #212529 !important;
}
input:focus,select:focus,button:focus,label:focus, .btn:focus, .btn.focus,
input:active,select:active,button:active,label:active{
        outline: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
}
.c-pointer{
    cursor: pointer;
}

// Home Slide
.home-carousel{
    .carousel-indicators {
        bottom: 20px;
    }
    .carousel-indicators li {
        width: 15px !important;
        height: 15px !important;
        cursor: pointer;
        background-color: rgb(255, 255, 255) !important;
        border-radius: 50px !important;
    }
    .carousel-indicators .active {
        background-color: #f47921 !important;
        border: 1px solid #ffffff !important;
    }
    .carousel-control-prev,
    .carousel-control-next{
        display: none;
    }
}
// BOOKING SECTION TAB
.booking-section{
    position: absolute;
    top: 73px;
    width: 100%;
    .tab-content{
        background-color: #ffffff !important;
        padding: 30px 40px;
        border-radius: 0px 0px 5px 5px;
        box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.25);
    }
    .nav.nav-tabs{
        background: #130504;
        border-radius: 5px 5px 0 0;
        .nav-item {
            font-size: 16px;
            font-family: "Lato";
            font-weight: bold;
            .nav-link{
                color: rgb(231, 231, 231);
                padding-top: 12px;
                padding-bottom: 12px;
                &:hover{
                    border-color: transparent !important;
                }
            }
            .active{
                color: #130504 !important;
                background-color: #fff;
                border-color: transparent;
            }
        }  
        .nav-item.show .nav-link {
            color: #495057;
            background-color: #fff;
        }
    }
    .booking-form{
        font-family: latoitalic;
        font-size: 14px;
        color: #484848;
        .form-control{
            height: 45px;
            border: 1px solid #dee1e4;
            color: #909396;
            &::-webkit-input-placeholder {
                color: #909396;
            }
        }
        .calendar{
            background: #fff !important;
            color: #909396 !important;
            border-color: #dee1e4 !important;
            &:hover,&:focus,&:active{
                color: #f57921 !important;
            }
        }
        .checkin-pick{
            border-left: none;
            border-right: none;
            border-color: #ccc;
        }
        .checkout-pick{
            border-left: none;
            border-color: #ccc;
        }
        .search-btn{
            display: flex;
            line-height: 17px;
            font-size: 16px;
            font-family: latobold;
            float: right;
            .search-icon{
                background: url(assets/images/search-icon.png) center center no-repeat;
                width: 20px;
                height: 20px;
                background-size: 100%;
                margin-right: 7px;
            }
        }
    }
}
.features-section{
    background: #f1f1f1;
    padding: 40px 0px;
    font-size: 12px;
    color: #616161;
    .info-text{
        font-family: lato;
        color: #6d6e71;
        font-size: 14px;
    }
    .mt-18{
        margin-top: 18px;
    }
}
.exclamation-circle{
    color: #343a40 !important;
    font-size: 14px;
    margin-left: 5px;
}
.property-listing-section{
    background: url(assets/images/tab_bg.jpg) no-repeat; 
    background-size: cover;
    background-position: center center;
    .container{
        padding: 40px 0;
    }
    .property-tab-block{
        background: #fff;
        padding: 40px 0px 20px 0px;
        border-radius: 5px;
        box-shadow: 0px 8px 0px 0px #33333359;
        .nav-tabs .nav-item:first-child {
            margin-left: 30px;
        }
        .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
            color: #000000;
            background-color: #fff;
            border-color: #f47921 #f47921 #fff;
        }
        .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
            border-color: #f47921 #f47921 #fff;
        }
        .nav-tabs {
            border-bottom: 1px solid #f47921;
        }
        .nav-tabs .nav-link {
            font-weight: 500;
            color: #000;
            padding: 10px 25px;
        }
        .tab-content{
            padding: 20px 30px;
        }
        .property-img{
            .pro-icon{
                font-size: 20px;
                color: #ffffff;
                position: absolute;
                cursor: pointer;

                &:hover{
                    color: #f47921;
                }
                &.pro-icon.bookmark{
                    right: 40px;
                    top: 10px;
                }
                &.pro-icon.share{
                    right: 15px;
                    top: 10px;
                }
            }
        }
        .card-body{
            padding-top: 30px;
            .card-title{
                color: #231f20;
                font-size: 16px;
                font-family: latoblack;
                margin-bottom: 10px;
            }
            .price{
                color: #454444;
                font-size: 14px;
                font-family: lato;
                font-weight: bold;
                margin-bottom: 10px !important;
            }
            .badge.bg-orange{
                background: #f47921;
                padding: 5px 7px;
                margin-right: 8px;
                border-radius: 6px;
            }
            .cat-type{
                color: #130504;
                font-size: 12px;
                font-family: latoblack;
            }
            .review{
                color: #f57921;
                font-size: 12px;
                font-family: latoblack;
            }
            .hr1{
                margin: 10px 0;
            }
            .alert{
                color: #ffffff;
                font-family: latobold !important;
                border: 0;
                padding: 10px 12px;
                margin-bottom: 10px;
                h6.title{
                    font-size: 16px;
                }
                span.info-text{
                    font-size: 12px;
                }
            }
            .alert-green{
                background-color: #74ae51; 
            }
            .alert-pink{
                background-color: #e981ab; 
            }
            .alert-blue{
                background-color: #6eafc5; 
            }
            .alert-brown{
                background-color: #b78769; 
            }
            .complimentary{
                color: #6d6e71;
                font-size: 14px;
                font-family: lato;
                display: flex;
                margin: 0;

                span{
                    width: 22px;
                    height: 22px;
                    margin: 0 2px;
                    display: flex;
                }
                .complimentary-tea{
                    background: url(assets/images/complimentary_tea.png) center center no-repeat;
                }
                .complimentary-gym{
                    background: url(assets/images/complimentary_gym.png) center center no-repeat;
                }
                .complimentary-parking{
                    background: url(assets/images/complimentary_parking.png) center center no-repeat;
                }
                .complimentary-swimming{
                    background: url(assets/images/complimentary_swimming.png) center center no-repeat;
                }
            }
        }
        .filter-section .alert{
            color: #231f20;
            font-size: 16px;
            font-family: latoitalic;
            padding: 10px;
            background: #f4f4f4;
            margin-bottom: 0;
            display: inline-block;
        }
        .quick-filter-btn{
            label{
                padding: 0;
                margin: 0;
                margin-right: 5px;
            }
        }
    }
}

// Property Description & Earning Calculator
.property-desc-section{
    background: url(assets/images/listyourproperty_bg.png) no-repeat;
    padding: 40px 30px !important;
    font-family: lato;
    color: #231f20;
    background-position: center top;
    background-size: cover;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    
    h4.title{
        font-size: 36px;
        margin-bottom: 20px;
        font-family: latobold;
    }
    h6.desc{
        font-size: 20px;
        margin-bottom: 30px;
    }
    p.text{
        font-size: 14px;
        width: 50%;
        margin-bottom: 40px;
    }
    .icon-calculator{
        height: 20px;
        margin-left: 10px;
        vertical-align: sub;
    }
}

// Deal for You Style
.deals-section{
    background: url(assets/images/deals_bg.jpg) no-repeat;
    background-size: 105% 100%;
    background-position: center center;
    font-family: lato;    
    padding: 40px 0;
    border-bottom: 1px solid #e8e7e7;
    border-top: 1px solid #e8e7e7;
    img{
        width: 100%;
    }
    h4.title{
        color: #130504;
        font-size: 36px;
        margin-bottom: 15px;
    }
    p.text{
        font-size: 14px;
        color: #231f20;
        margin-bottom: 30px;
    }
}

// About & Testimonial Style
.about-testimonial-section{
    font-family: lato;
    margin-top: 40px;
    margin-bottom: 40px;
    .card{
        box-shadow: 0px 6px 0px 0px #dbdbdb;
        background: #fafafa;
        .card-body{
            padding-top: 30px;
            padding-bottom: 40px;
        }
        h4.title{
            font-size: 24px;
            color: #130504;
            margin-bottom: 30px;
        }
        .testimonial-item{
            display: flex;
            margin-bottom: 30px;
            .thumb-img{
                margin-right: 15px;
            }
            .thumb-details{
                .desc{
                    color: #231f20;
                    font-size: 14px;
                    line-height: 15pt;
                    display: inline-block;
                }
                .name{
                    color: #130504;
                    font-size: 16px;
                    padding-right: 10px;
                    border-right: 2px solid #ccc
                }
                .datetime{
                    font-size: 12px;
                    color: #6d6e71;
                    padding-left: 10px;
                    display: inline-block;
                }
            }
        }
        h5.about-text{
            color: #130504;
            font-size: 18px;
        }
        p.text{
            color: #231f20;
            font-size: 14px;
        }
    }
}

// Check Box
.check-box {
    display: inline-block;
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 20px;
}
  
  /* Hide the browser's default checkbox */
.check-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
}
  
  /* On mouse-over, add a grey background color */
.check-box:hover input ~ .checkmark {
    // background-color: #313131;
}
  
  /* When the checkbox is checked, add a blue background */
.check-box input:checked ~ .checkmark {
    // background-color: #1a1a1a;
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the checkmark when checked */
.check-box input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the checkmark/indicator */
.check-box .checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 11px;
    border: solid #f47921;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

// CheckBox and Radio Button

@keyframes click-wave {
    0% {
      height: 40px;
      width: 40px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 200px;
      width: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0;
    }
  }
  
  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    background: #ffffff;
    border: 1px solid #c7c7c7;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
    &:hover {
        background: #9faab7;
    }
    &:checked {
        background: #ffffff;
        &::before {
            height: 12px;
            width: 12px;
            position: absolute;
            content: ' ';
            display: inline-block;
            font-size: 12px;
            text-align: center;
            line-height: 20px;
            background: #f47921;
            border-radius: 50px;
            top: 3px;
            left: 3px;
        }
        &::after {
            // -webkit-animation: click-wave 0.65s;
            // -moz-animation: click-wave 0.65s;
            // animation: click-wave 0.65s;
            background: #f57921;
            content: '';
            display: block;
            position: relative;
            z-index: 100;
        }
    }
    &.radio {
        border-radius: 50%;
        &::after {
            border-radius: 50%;
        }
    }
  }

// Bootstrap Timepicker
.ngb-tp{
    .ngb-tp-input-container{
        width: 50px !important;
        button.btn{
            padding: 0px 8px;
            color: #b5b3b3;
            font-size: 14px;
        }
        .form-control{
            padding: 0;
            width: 40px;
            height: 35px;
            font-size: 14px;
            border: 1px solid #c7c7c7;
            color: #484848;
            font-size: 14px;
            font-family: latoregular;
        }
        .ngb-tp-spacer{
            width: .5em;
            text-align: center;
            color: #484848;
            font-size: 14px;
            font-family: latoregular;
        }
    }
    .ngb-tp-meridian{
        button.btn{
            padding: 2px 0px;
            font-size: 12px;
            border-color: #ffffff;
            color: #484848;
            font-size: 14px;
            font-family: latoregular;
            &:hover, &:focus, &:active{
                color: #484848;
                background-color: transparent;
                border: 0;
            }
        }
    }
}

// UI Switch
.switch.checked {
    background: #64bd63;
    color: #fff;
}
.d-inline-table{
    display: inline-table;
}
// Toggle Radio Button
.toggle-radio-btn{
    margin: 0;
    padding: 2px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    width: max-content;
    .toggle-btn{
        border: 0;
        display: inline-block;
        padding: 10px;
        position: relative;
        text-align: center;
        transition: background 600ms ease, color 600ms ease;
        // height: 40px;
        line-height: 34px;
        margin: 0;
        border-radius: 3px;
    }

    input[type="radio"].toggle {
        display: none;
        & + label{
            cursor: pointer;
            min-width: 60px;
            &:hover{
                background: none;
                color: #1a1a1a;
            }
            &:after{
                background: #1a1a1a;
                content: "";
                height: 100%;
                position: absolute;
                top: 0;
                transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
                width: 100%;
                z-index: -1;
            }
        }
        &.toggle-left + label {
            border-right: 0;
            &:after{
                left: 100%
            }
        }
        &.toggle-right + label{
            margin-left: -5px;
            &:after{
                left: -100%;
            }
        }
        &:checked + label {
            cursor: default;
            color: #fff;
            transition: color 200ms;
            background: #f47921;
            &:after{
                left: 0;
            }
        }
    }
}
.modal-backdrop{
    z-index: 11111 !important;
}
.modal.show{
    z-index: 111111 !important;
}

.coming-soon{
    .modal-content{
        border:none;
        img{
            border-radius: 8px;
        }
    }
}


// 
.ngu-carousel{
    width: 100%;
    .item {
        padding: 10px;
        box-sizing: border-box;
    }
      
    .tile {
        min-height: 200px;
        background-color: #ccc;
        background-size: cover !important;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    }
      
    .slide-left-btn, .slide-right-btn{
        background-color: transparent;
        border-color: transparent;
        width: 30px;
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
        cursor: pointer;
        
    }
    .slide-left-btn{
        background-image: url(assets/images/left-arrow.png);
        position: absolute;
        right: 40px;
        bottom: 0;
    }
    .slide-right-btn{
        background-image: url(assets/images/right-arrow.png);
        position: absolute;
        right: 0;
        bottom: 0;
    }      
}

// ng Number Picker
.ng-number-picker{
    display: inline-grid;
    .input-group{
        height: 40px !important;
        margin: 0 !important;
        padding: 2px;
        border: 1px solid #c7c7c7;
        border-radius: 5px;
        .input-group-text {
            width: 40px;
            height: 100%;
            font-size: 30px !important;
            line-height: 20px;
            text-align: center;
            border: 0;
            background: #1a1a1a;
            color: #fff;
            display: inline-block;
            border-radius: 3px !important;
            &.decrease{
                font-size: 40px !important;
                background: #484848;
            }
            &.increase {
                background: #f47921;
            }
            // &:hover, &:focus, &:active{
            //     background: #1a1a1a;
            // }

        }
        .form-control{
            height: 100%;
            width: 50px;
            display: inline-block;
            border: none;
            text-align: center;
        }
    }   
}

.zoom-effect{
    overflow: hidden;
    img{
        -webkit-transition: all .3s ease; /* Safari and Chrome */
        -moz-transition: all .3s ease; /* Firefox */
        -o-transition: all .3s ease; /* IE 9 */
        -ms-transition: all .3s ease; /* Opera */
        transition: all .3s ease;
        position:relative;
        &:hover{
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
            -moz-transform:scale(1.20); /* Firefox */
            -ms-transform:scale(1.20); /* IE 9 */
            -o-transform:translatZ(0) scale(1.20); /* Opera */
            transform:translatZ(0) scale(1.20);
        }
    }
}

// Modal Popup
.modal-popup{
    .modal-content{
        border: 0;
        box-shadow: 0px 10px 0px 0px #1f1e1e8c;
        padding: 30px 30px;
        button.close{
            width: 30px;
            height: 30px;
            background: #fff;
            opacity: 1 !important;
            border-radius: 50px;
            position: absolute;
            right: -20px;
            top: -20px;
            z-index: 99999;
            span{
                text-shadow: none;
                color: #f47921;
                line-height: 24px;
                font-size: 24px;
                font-family: lato;
                font-weight: 100;
                display: block;
            }
        }
        .modal-container{
            .modal-title{
                font-family: latoblack;
                font-size: 16px;
                color: #130504;
                text-align: center;
            }
        }
    }
}

// Label Btn Tags
.btn-tags{
    font-family: lato;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 50px;
    color: #130504;
    background-color: #ffffff;
    border: 1px solid #cacaca;
    margin-right: 10px;
    margin-bottom: 8px;
}

.custom-file-label{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 40px;
    padding: 0.375rem 0.75rem;
    /* line-height: 40px; */
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    &::after {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: 0;
        z-index: 3;
        display: block;
        height: 40px;
        padding: 0.375rem 0.75rem;
        /* line-height: 40px; */
        color: #ffffff;
        content: "Browse";
        background-color: #f47921;
        border-left: 1px solid #f47921;
        border-radius: 0 0.25rem 0.25rem 0;
    }
}

.m-table{
    thead th {
        text-align: center;
        vertical-align: middle;
        border-bottom: 2px solid #dee2e6;
    }
    td {
        text-align: center;
        vertical-align: middle;
    }
    .check-box{
        display: inline;
    }
    .check-box, .option-input.radio{
        margin-right: 0;
    }
} 